<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/cinema">Cinema</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/hall/list">Cinema Hall</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Add filmShow</h1>

<form th:object="${filmShow}" method="post" class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Film Start</label>
        <input type="time" class="form-control" name="filmStart">
    </div>
    <div class="col-md-6">
        <label class="form-label">Film End</label>
        <input type="time" class="form-control" name="filmEnd">
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-11">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>
</body>
</html>